#root>div {
  height: 100%;
}

.titleRow{
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-bottom: 30px;
  font-size: 25px;
}

.title{
  font-weight: bold;
  color: #08c;
}

.login-form-forgot{
  float: right;
}

.login-form-button{
  width: 100%;
}

.borderShadow{
  border: 2px solid #eae1e1;
  padding: 40px !important;
  box-shadow: 3px 3px 2px #ece9e9;
}